@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HS-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgb(115, 115, 115, 1) transparent;
}

/* Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
    width: 9px;
    height: 7px;
}

*::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb {
    background-color: #dad0ea;
    border-radius: 10px;
}

body {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    /* min-width: 1280px; */
}

html,
body,
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
